* {
    box-sizing: border-box;
}

/* Flex containers */
body, section, #articles, ul, footer, .footer-nav, .skills-list {
    display: flex;
}

footer li, .footer-title {
    display: inline-flex;
}

body, section, #articles, ul, .footer-nav, .skills-list {
    justify-content: center;
    flex-direction: column;
}

footer {
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.footer-nav {
    justify-content: right;
    flex-direction: row;
    justify-content: space-between;
}

.skills-list {
    flex-wrap: wrap;
}


/* Body styling */
body {
    font-family: "Roboto", "Rubik", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    text-align: center;
    background-color: #F2F4F4;
}

/* Element styling */
p, h1, h2, h3, footer {
    color: darkslategrey;
    text-align: center;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 400;
    font-size: 0.9em;
}

h1 {
    font-weight: 900;
    font-size: 1.6em;
}

h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -5px;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

article {
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid lightgray;
}

footer li {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.8em;
    align-self: flex-end;
    padding: 0px 15px 0px;
}


/* Link styling */

a {
    color: darkslategrey;
    text-decoration: none;
}

/* Links change when hovered over */
a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

/* Class styling */

.profile-picture {
    width: 70%;
}

.menu-item {
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8em 1.5em;
    background-color: #fff;
    border-radius: 0.35em;
    display: block;
    margin: 3px 12px;
}

.col {
    min-height: 250px;
    text-align: center;
    letter-spacing: 1px;
    padding: 5px;
    background-color: #fff;
}

.footer-title {
    font-weight: bolder;
    font-size: 0.9em;
    align-self: flex-start;
}

.skills-list li {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    padding: 0.8em 1.5em;
    color: darkgreen;
    background-color: #8dda92;
    border-radius: 0.35em;
    margin: 3px 12px;
}

/* Bolder style for top skills, to make them stand out */
.top-skill {
    font-weight: bolder;
}

/* Hides additional footer menu items when screen size is less than 768px*/

.full {
    display: none;
}

/* ID styling */

#skills {
    background-color: rgb(245, 229, 245);
    padding-bottom: 60px;
}

#contact {
    margin: 1em;
    padding-bottom: 2em;
}

#portfolio {
    background-color: white;
}

#articles {
    padding: 5px;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
 


/* Media queries to optimise display on different devices*/

@media (min-width: 768px) {

    body {
        margin: auto 0.5rem;
    }
    
    ul {
        flex-direction: row;
    }

    article {
        flex-basis: 50%;
    }

    .intro {
        flex-direction: row-reverse;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .intro p, #contact p {
        font-size: 1.2rem;
    }

    .intro p {
        text-align: left;
    }

    .full {
        display: inline-flex;
    }

    .top {
        display: none;
    }

    .skills-list {
        flex-direction: row;
    }

    #articles {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #contact p {
        max-width: 80%;
        margin: 0.5rem auto;
    }

}

@media (min-width: 1024px) {
    
    article {
        flex-basis: 33.33%;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        display: inline-flex;
    }

    .main-nav {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
    }

    #contact p {
        max-width: 60%;
    }
}




